<div class="todo-list">
  <div class="icons">
    <img class="function-icon" src="assets/function-icon.svg">
        <img class="love-icon" src="assets/love-icon.svg">
    <img class="angular-icon" src="assets/angular-icon.svg">
  </div>

  <div id="myDIV" class="header">
    <input [(ngModel)]="newTask" type="text" id="myInput" placeholder="Title...">
    <span (click)="add()" class="addBtn">Add</span>
  </div>

  <ul id="myUL">
    <li *ngFor="let todo of todos; let index=index" (click)="done(todo)" [class.checked]="todo.Done">
      {{todo.Task}}<span (click)="remove(index)" class="close">×</span>
    </li>
  </ul>
</div>
